<!-- <p>Olá {{nome}}</p>

Para utilizar atributos que ja vem do html
<button [id]="idButton"></button>

Para atributos dinâmicos criados ou que não são padrão
<button [attr.teste]="idButton"></button>

<button (click)="submit($event)">clique</button> É necessário colocar os parênteses (não é onClick. Para o angular é click (procurar por html events angular))

<button (click)="submit()">Enviar</button>
@if(mostrarTitulo){
    <h1>Titulo</h1>
}
@else if(nome == "Lorenzo"){
    <h1>Olá {{nome}}</h1>
} 
@else{
    <h2>AHAHAHAHAHHAHAA</h2>
}

track: vai ajudar o angular a reenderizar a lista

@for(item of listItems; track item ){
    <p>{{item}}</p>
} -->

<h1>
    {{minhaPropsDeFora}}
</h1>
