.login-form{
    background-color: darkblue;
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: aliceblue;
    padding: 30px;
    
}
.login-form input{
    padding: 5px 5px;
    margin: 3px 0;
}